<a href="https://colab.research.google.com/github/glendah-moraa/project-edge/blob/main/Python_Data_Cleaning_and_Analysis_Kenyan_Households_Roofing_Materials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Data Cleaning and Analysis - Kenyan Households Roofing Materials

## 1.0 Importing our Libraries

In [ ]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains Kenyan households by the main type of Roofing Material for the main dwelling unit for 2009.



*   Dataset link for download or access: [Link](https://drive.google.com/a/moringaschool.com/file/d/1Mij0eAI8CHzanECX-n4Cv20N0A_whueJ/view?usp=sharing)

In [ ]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('/content/2009_Census_Volume_II_Table_5_Households_by_main_type_of_Roofing_Material_for_the_main_dwelling_unit_by_district.csv')
df.head()

          District rural/urban  ... Province OBJECTID
0  NYANDARUA NORTH       Urban  ...  CENTRAL        0
1  NYANDARUA SOUTH       Urban  ...  CENTRAL        1
2      NYERI NORTH       Urban  ...  CENTRAL        2
3      NYERI SOUTH       Urban  ...  CENTRAL        3
4        KIRINYAGA       Urban  ...  CENTRAL        4

[5 rows x 26 columns]

## 1.2 Previewing our Dataset

In [ ]:
# Let's preview the first 10 rows of our data
# 
df.head(1)

          District rural/urban  ... Province OBJECTID
0  NYANDARUA NORTH       Urban  ...  CENTRAL        0

[1 rows x 26 columns]

## 1.3 Accessing Information about our Dataset

We might need to convert columns to the respective datatypes ie. if there are payment columns we could convert them from string to float. This observation can be made by accessing information about the dataset.

In [ ]:
# Getting to know more about the dataset by accessing its information
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 26 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   District                                315 non-null    object
 1   rural/urban                             315 non-null    object
 2   %_of_Households_Corrugated_Iron_Sheets  290 non-null    object
 3   %_of_Households_Tiles                   290 non-null    object
 4   %_of_Households_Concrete                290 non-null    object
 5   Asbestos_%_of_Households_Sheets         290 non-null    object
 6   %_of_Households_Grass                   290 non-null    object
 7   %_of_Households_Makuti                  290 non-null    object
 8   %_of_Households_Tin                     290 non-null    object
 9   %_of_Households_Mud/Dung                290 non-null    object
 10  %_of_Households_Other                   290 non-null    object
 11  Households                              315 non-null    int64
 12  No_Corrugated_Iron_Sheets               315 non-null    int64
 13  No_Tiles                                315 non-null    int64
 14  No_Concrete                             315 non-null    int64
 15  No_Asbestos_Sheets                      315 non-null    int64
 16  No_Grass                                315 non-null    int64
 17  No_Makuti                               315 non-null    int64
 18  No_Tin                                  315 non-null    int64
 19  No_Mud/Dung                             315 non-null    int64
 20  No_Other                                315 non-null    int64
 21  County                                  315 non-null    object
 22  MTEF                                    315 non-null    object
 23  Location_1                              0 non-null      float64
 24  Province                                315 non-null    object
 25  OBJECTID                                315 non-null    int64
dtypes: float64(1), int64(11), object(14)
memory usage: 64.1+ KB

## 1.4 Cleaning our Dataset

Let us perform data cleaning procedures below providing a documentation for our actions. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

### 1.41) Validity: <font color="green">Challenges</font>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:

df.drop(columns=['Location_1', 'OBJECTID', '%_of_Households_Corrugated_Iron_Sheets', '%_of_Households_Tiles', '%_of_Households_Concrete', 'Asbestos_%_of_Households_Sheets', '%_of_Households_Grass', '%_of_Households_Makuti', '%_of_Households_Tin', '%_of_Households_Mud/Dung', '%_of_Households_Other'], inplace=True)

In [ ]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#

            District rural/urban  ...                              MTEF  Province
0    NYANDARUA NORTH       Urban  ...  Physical Infrastructure, Housing   CENTRAL
1    NYANDARUA SOUTH       Urban  ...  Physical Infrastructure, Housing   CENTRAL
2        NYERI NORTH       Urban  ...  Physical Infrastructure, Housing   CENTRAL
3        NYERI SOUTH       Urban  ...  Physical Infrastructure, Housing   CENTRAL
4          KIRINYAGA       Urban  ...  Physical Infrastructure, Housing   CENTRAL
..               ...         ...  ...                               ...       ...
310            BUSIA       Rural  ...  Physical Infrastructure, Housing   WESTERN
311       TESO NORTH       Rural  ...  Physical Infrastructure, Housing   WESTERN
312            SAMIA       Rural  ...  Physical Infrastructure, Housing   WESTERN
313          BUNYALA       Rural  ...  Physical Infrastructure, Housing   WESTERN
314       TESO SOUTH       Rural  ...  Physical Infrastructure, Housing   WESTERN

[315 rows x 15 columns]

In [ ]:
# Procedure 3:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### 1.42) Accuracy <font color="green">Challenges</font>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

In [ ]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### 1.43) Completeness <font color="green">Challenges</font>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
df.isnull().sum()

District                     0
rural/urban                  0
Households                   0
No_Corrugated_Iron_Sheets    0
No_Tiles                     0
No_Concrete                  0
No_Asbestos_Sheets           0
No_Grass                     0
No_Makuti                    0
No_Tin                       0
No_Mud/Dung                  0
No_Other                     0
County                       0
MTEF                         0
Province                     0
dtype: int64

In [ ]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### 1.44) Consitency: <font color="green">Challenges</font>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
df.duplicated().sum()

0

### 1.45) Uniformity: <font color="green">Challenges<font/>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   District                   315 non-null    object
 1   rural/urban                315 non-null    object
 2   Households                 315 non-null    int64
 3   No_Corrugated_Iron_Sheets  315 non-null    int64
 4   No_Tiles                   315 non-null    int64
 5   No_Concrete                315 non-null    int64
 6   No_Asbestos_Sheets         315 non-null    int64
 7   No_Grass                   315 non-null    int64
 8   No_Makuti                  315 non-null    int64
 9   No_Tin                     315 non-null    int64
 10  No_Mud/Dung                315 non-null    int64
 11  No_Other                   315 non-null    int64
 12  County                     315 non-null    object
 13  MTEF                       315 non-null    object
 14  Province                   315 non-null    object
dtypes: int64(10), object(5)
memory usage: 37.0+ KB

In [ ]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### Exporting the Cleaned Dataset

In [ ]:
# Let's export our dataframe into a csv file as shown 
# in the example given in the following line;
# daframe.to_csv('example.csv')
# In the above case daframe is the dataframe which would like to export.
# we use the to_csv function to create a csv file with the name example 
# and export it
#
df.to_csv('cleaned.csv')

## 1.5 Answering Questions

Let's answer the following questions with our dataset

In [ ]:
# Challenge 1
# Find out the most popular type of household material for urban regions.
# 
df1 = df.groupby(df['rural/urban']).sum()
df1.iloc[1].head(2)

Households                   3385308
No_Corrugated_Iron_Sheets    2669341
Name: Urban, dtype: int64

In [ ]:
# Challenge 2
# Find out the least popular type of household material for urban regions.
#
df1 = df.groupby(df['rural/urban']).sum()
df1.iloc[1].tail(1)

No_Other    8807
Name: Urban, dtype: int64

In [ ]:
# Challenge 3
# Find out the most popular type of households material in the urban regions of Nairobi.
# 
df.groupby(['County', 'rural/urban']).sum().loc['Nairobi'].loc['Urban'].sort_values(ascending = False).head(2)

Households                   983115
No_Corrugated_Iron_Sheets    641697
Name: Urban, dtype: int64

In [ ]:
# Challenge 4
# Find out the least popular type of households material in rural regions of Nairobi.
# 
df.groupby(['County', 'rural/urban']).sum().loc['Nairobi'].loc['Urban'].sort_values(ascending = True).head(2)

No_Grass       185
No_Mud/Dung    283
Name: Urban, dtype: int64

In [ ]:
# Challenge 5
# Find out the average no. of tiling households.
# 
df['No_Tiles'].mean()

615.2126984126984

In [ ]:
# Challenge 6
# Which county has the highest no. of grass households?
# 
df.groupby('County')['No_Grass'].sum().sort_values(ascending = False).head(1)

County
Mandera    77307
Name: No_Grass, dtype: int64

In [ ]:
# Challenge 7
# Which top 5 counties have the highest no of households made of iron sheets ?
# 
df.groupby('County')['No_Corrugated_Iron_Sheets'].sum().sort_values(ascending = False).head(5)

County
Nairobi     641697
Kiambu      423968
Nakuru      354675
Meru        352331
Kakamega    272421
Name: No_Corrugated_Iron_Sheets, dtype: int64

In [ ]:
# Challenge 8
# What is the average no. of households in Kenya?
# 
df['Households'].mean()

27739.990476190476

In [ ]:
# Challenge 9
# Which county has the most no. of households made of dung?
# 
df.groupby('County')['No_Mud/Dung'].sum().sort_values(ascending = False).head(1)

County
Narok    18677
Name: No_Mud/Dung, dtype: int64

In [ ]:
# Challenge 10
# In ascending order, which top 3 counties have the highest no. of households with makuti?
# 
makuti_counties = df.groupby('County')['No_Makuti'].sum().sort_values(ascending = False).head(3)
makuti_counties.sort_values(ascending = True)

County
Turkana    43605
Kwale      60569
Kilifi     88633
Name: No_Makuti, dtype: int64

In [ ]:
# Challenge 11
# What is the no. of Makuti households in urban regions?
#
df.groupby('rural/urban')['No_Makuti'].sum().loc['Urban']

#or
#df[df['rural/urban']=="Urban"]['No_Makuti'].sum()

52900

In [ ]:
# Challenge 12
# What is the no. of Makuti households in the rural regions of Kisumu county?
#
df.groupby(['rural/urban', 'County'])['No_Makuti'].sum().loc['Rural'].loc['Kisumu']

#or
#df[(df['rural/urban']=="Rural") & (df['County']=="Kisumu")]['No_Makuti'].sum()

167

In [ ]:
# Challenge 13
# What percentage of households in Kenya are concrete?
#

percentage = (df['No_Corrugated_Iron_Sheets'].sum()) / (df['Households'].sum()) * 100
percentage

73.22672201968003

In [ ]:
# Challenge 14
# Which top 3 districts have the highest no. of grass and makuti households?
#
dfgm = df[['District', 'No_Grass', 'No_Makuti']]
# (df['No_Grass'] + df['No_Makuti'])
dfgm['Total'] = dfgm['No_Grass'] + dfgm['No_Makuti']
dfgm[['District','Total']].sort_values(by='Total', ascending= False).head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            District  Total
166            SIAYA  48094
52            KILIFI  41017
142  MANDERA CENTRAL  39346

In [ ]:
# Challenge 15 
# What is the households distribution of iron sheets, mud/dung, tin, 
# makuti, grass, sheets, concrete, tiles for Baringa County?
# 
df[df["County"]=="Baringo"][['District', 'No_Corrugated_Iron_Sheets','No_Tiles','No_Concrete', 'No_Makuti', 'No_Grass','No_Asbestos_Sheets','No_Mud/Dung']]

          District  No_Corrugated_Iron_Sheets  ...  No_Asbestos_Sheets  No_Mud/Dung
199        BARINGO                       6685  ...                 385            2
200  BARINGO NORTH                          0  ...                   0            0
201     EAST POKOT                          0  ...                   0            0
202       KOIBATEK                       7357  ...                 343           10
243        BARINGO                      18189  ...                 268           14
244  BARINGO NORTH                      10500  ...                 254           11
245     EAST POKOT                       1632  ...                  43           23
246       KOIBATEK                      19681  ...                 304            8

[8 rows x 8 columns]